
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    List<Models.TacGia> tacGia = ViewBag.TacGia;
    List<Models.NhaXuatBan> nhaXuatBan = ViewBag.NhaXuatBan;
    List<Models.DanhMuc> danhMuc = ViewBag.DanhMuc;
    List<Models.DoTuoi> doTuoi = ViewBag.DoTuoi;
    Models.Sach sach = ViewBag.Item;
}

<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn-add {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 50px 30px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .delete {
        width: 100%;
        height: 20px;
        padding: 0% 43%;
        border-radius: 5px;
        color: white;
        background-color: red;
        text-align: center;
    }
</style>
<main class="app-content">
    <div class="container">
        <form action="/SanPham/Edit" method="post" enctype="multipart/form-data">

            <input type="hidden" name="idSach" value="@sach.MaS" />
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Tên sách</label>
                    <input class="form-control" id="tenSach" name="tenSach" type="text" value="@sach.CTSach.TenS">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Tác giả</label>
                    <select class="form-control" id="tacGia" name="tacGia">
                        <option value="0">Chọn tác giả</option>
                        @foreach (var item in tacGia)
                        {
                            <option value="@item.MaTG">@item.TenTG</option>
                        }
                        <option value="m">Thêm mới</option>
                    </select>
                </div>
                <input type="hidden" id="add_TacGia" name="add_TacGia" value="false" />
            </div>
            @Html.Partial("PartialViewAddTacGia")
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nhà xuất bản</label>
                        <select class="form-control" name="nhaXuatBan">
                            <option value="0">Chọn...</option>
                            @foreach (var item in nhaXuatBan)
                            {
                                <option value="@item.MaNXB">@item.TenNXB</option>
                            }
                            <option value="m">Thêm mới</option>
                        </select>
                    </div>
                    <input type="hidden" id="add_NhaXuatBan" name="add_NhaXuatBan" value="false" />
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Độ tuổi</label>
                    <select class="form-control" name="doTuoi">
                        <option value="0">Chọn...</option>
                        @foreach (var item in doTuoi)
                        {
                            <option value="@item.MaDT">@item.BatDau - @item.KetThuc</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Danh mục</label>
                        <select class="form-control" name="danhMuc">
                            <option value="0">Chọn...</option>
                            @foreach (var item in danhMuc)
                            {
                                <option value="@item.MaDM">@item.TenDM</option>
                            }
                            <option value="m">Thêm mới</option>
                        </select>
                    </div>
                    <input type="hidden" id="add_DanhMuc" name="add_DanhMuc" value="false" />
                </div>
            </div>
            @Html.Partial("PartialViewAddNhaXuatBan")
            @Html.Partial("PartialViewAddDanhMuc")
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Loại bìa</label>
                    <select class="form-control" name="loaiBia">
                        <option value="0">Chọn...</option>
                        <option value="Cứng">Cứng</option>
                        <option value="Mềm">Mềm</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Khổ giấy</label>
                    <select class="form-control" name="khoGiay">
                        <option value="Chọn...">Chọn...</option>
                        <option value="841 × 1189">841 × 1189 (A0)</option>
                        <option value="594 × 841">594 × 841 (A1)</option>
                        <option value="420 × 594">420 × 594 (A2)</option>
                        <option value="297 × 420">297 × 420 (A3)</option>
                        <option value="210 × 297">210 × 297 (A4)</option>
                        <option value="148 × 210">148 × 210 (A5)</option>
                        <option value="105 × 148">105 × 148 (A6)</option>
                        <option value="74 × 105">74 × 105 (A7)</option>
                        <option value="52 × 74">52 × 74 (A8)</option>
                        <option value="37 × 52">37 × 52 (A9)</option>
                        <option value="26 × 37">26 × 37 (A10)</option>
                        <option value="18 × 26">18 × 26 (A11)</option>
                        <option value="13 × 18">13 × 18 (A12)</option>
                        <option value="9 × 13">9 × 13 (A13)</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Ngày xuất bản</label>
                    <input class="form-control" id="ngayXuatBan" name="ngayXuatBan" type="date" value="@sach.CTSach.NgayXuatBan.ToString("yyyy-MM-dd")">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Loại giấy</label>
                    <select class="form-control" name="loaiGiay">
                        <option>Chọn...</option>
                        <option value="Thường">Thường</option>
                        <option value="Đẹp">Đẹp</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Số trang</label>
                    <input class="form-control" id="soTrang" name="soTrang" type="number" value="@sach.CTSach.SoTrang">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Giá</label>
                    <input class="form-control" id="gia" name="gia" type="number" pattern="(d{3})([.])(d{2})" value="@sach.CTSach.Gia.ToString().Substring(0,sach.CTSach.Gia.ToString().Length - 5)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Chi tiết</label>
                    <textarea class="form-control" name="chiTiet">@sach.CTSach.ChiTiet</textarea>
                </div>
            </div>
            @*anh*@
            <div class="row">
                @if (sach.AnhSach.Anh1 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh1" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh1" />
                        <a class="d-none delete" id="xoaAnh1" href="#">Xóa</a>
                        <div id="img1" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput1" name="picture" onchange="addAnh1(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh1" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh1" />
                        <a class="delete" id="xoaAnh1" href="#">Xóa</a>
                        <div id="img1" class="upload-btn-wrapper d-none">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput1" name="picture" onchange="addAnh1(this);">
                        </div>
                    </div>
                }
                @if (sach.AnhSach.Anh2 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh2" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh2" />
                        <a class="d-none delete" id="xoaAnh2" href="#">Xóa</a>
                        <div id="img2" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput2" name="picture" onchange="addAnh2(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh2" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh2" />
                        <a class="delete" id="xoaAnh2" href="#">Xóa</a>
                        <div id="img2" class="d-none upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput2" name="picture" onchange="addAnh2(this);">
                        </div>
                    </div>
                }
                @if (sach.AnhSach.Anh3 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh3" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh3" />
                        <a class="d-none delete" id="xoaAnh3" href="#">Xóa</a>
                        <div id="img3" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput3" name="picture" onchange="addAnh3(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh3" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh3" />
                        <a class="delete" id="xoaAnh3" href="#">Xóa</a>
                        <div id="img3" class="d-none upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput3" name="picture" onchange="addAnh3(this);">
                        </div>
                    </div>
                }
                @if (sach.AnhSach.Anh4 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh4" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh4" />
                        <a class="d-none delete" id="xoaAnh4" href="#" onclick="xoaAnh4();">Xóa</a>
                        <div id="img4" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput4" name="picture" onchange="addAnh4(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh4" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh4" />
                        <a class="delete" id="xoaAnh4" href="#" onclick="xoaAnh4();">Xóa</a>
                        <div id="img4" class="d-none upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput4" name="picture" onchange="addAnh4(this);">
                        </div>
                    </div>
                }
                @if (sach.AnhSach.Anh5 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh5" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh5" />
                        <a class="d-none delete" id="xoaAnh5" href="#">Xóa</a>
                        <div id="img5" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput5" name="picture" onchange="addAnh5(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh5" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh5" />
                        <a class="delete" id="xoaAnh5" href="#">Xóa</a>
                        <div id="img5" class="d-none upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput5" name="picture" onchange="addAnh5(this);">
                        </div>
                    </div>
                }
                @if (sach.AnhSach.Anh6 == "")
                {
                    <div class="form-group col-md-2">
                        <img id="anh6" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh6" />
                        <a class="d-none delete" id="xoaAnh6" href="#">Xóa</a>
                        <div id="img6" class="upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput6" name="picture" onchange="addAnh6(this);">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-2">
                        <img id="anh6" style="width:100%; border-radius: 5px" src="@sach.AnhSach.Anh6" />
                        <a class="delete" id="xoaAnh6" href="#">Xóa</a>
                        <div id="img6" class="d-none upload-btn-wrapper">
                            <button class="btn-add">Chọn ảnh</button>
                            <input type="file" id="fileInput6" name="picture" onchange="addAnh6(this);">
                        </div>
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary" name="luuLai">Lưu lại</button>
            <a href="/Administrator/SanPham" class="btn btn-secondary">Trở về</a>
        </form>
    </div>
</main>
<input type="hidden" name="idTG" value="@sach.TacGia.MaTG" />
<input type="hidden" name="idNXB" value="@sach.NhaXuatBan.MaNXB" />
<input type="hidden" name="idDoTuoi" value="@sach.DoTuoi.MaDT" />
<input type="hidden" name="idDanhMuc" value="@sach.DanhMuc.MaDM" />
<input type="hidden" name="idloaiBia" value="@sach.CTSach.LoaiBia" />
<input type="hidden" name="idKhoGiay" value="@sach.CTSach.Kho" />
<input type="hidden" name="idKhoGiay" value="@sach.CTSach.Kho" />
<input type="hidden" name="idLoaiGiay" value="@sach.CTSach.LoaiGiay" />
@section scripts{
    <script>
        //get info
        $('[name="tacGia"]').val($('[name="idTG"]').val());
        $('[name="nhaXuatBan"]').val($('[name="idNXB"]').val());
        $('[name="doTuoi"]').val($('[name="idDoTuoi"]').val());
        $('[name="danhMuc"]').val($('[name="idDanhMuc"]').val());
        $('[name="loaiBia"]').val($('[name="idloaiBia"]').val());
        $('[name="khoGiay"]').val($('[name="idKhoGiay"]').val());
        $('[name="loaiGiay"]').val($('[name="idLoaiGiay"]').val());
        //add Tac gia
        $('[name="tacGia"]').change(function () {
            if ($('[name="tacGia"]').val() === "m") {
                $("#addTacGia").removeClass('d-none');
                $("#add_TacGia").val("true");
            }
            else {
                $("#addTacGia").addClass('d-none');
                $("#add_TacGia").val("false");
            }
        });


        //add Nha xuat ban
        $('[name="nhaXuatBan"]').change(function () {
            if ($('[name="nhaXuatBan"]').val() === "m") {
                $("#addNhaXuatBan").removeClass('d-none');
                $("#add_NhaXuatBan").val("true");
            }
            else {
                $("#addNhaXuatBan").addClass('d-none');
                $("#add_NhaXuatBan").val("false");
            }
        });
        //add Danh Muc
        $('[name="danhMuc"]').change(function () {
            if ($('[name="danhMuc"]').val() === "m") {
                $("#addDanhMuc").removeClass('d-none');
                $("#add_DanhMuc").val("true");
            }
            else {
                $("#addDanhMuc").addClass('d-none');
                $("#add_DanhMuc").val("false");
            }
        });
        //add ảnh
        //1
        function addAnh1(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh1').attr('src', e.target.result);
                    $('#xoaAnh1').removeClass('d-none');
                    $('#img1').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
                $()
            }

        }
        //2
        function addAnh2(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh2').attr('src', e.target.result);
                    $('#xoaAnh2').removeClass('d-none');
                    $('#img2').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
        //3
        function addAnh3(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh3').attr('src', e.target.result);
                    $('#xoaAnh3').removeClass('d-none');
                    $('#img3').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
        //4
        function addAnh4(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh4').attr('src', e.target.result);
                    $('#xoaAnh4').removeClass('d-none');
                    $('#img4').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
        //5
        function addAnh5(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh5').attr('src', e.target.result);
                    $('#xoaAnh5').removeClass('d-none');
                    $('#img5').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
        //6
        function addAnh6(input) {
            if (input.files && input.files[0]) {
                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#anh6').attr('src', e.target.result);
                    $('#xoaAnh6').removeClass('d-none');
                    $('#img6').addClass('d-none');
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
        //xóa ảnh
        //xóa ảnh
        $('#xoaAnh1').click(function () {
            $('#anh1').attr('src', '');
            $('#xoaAnh1').addClass('d-none');
            $('#img1').removeClass('d-none');
        })
        $('#xoaAnh2').click(function () {
            $('#anh2').attr('src', '');
            $('#xoaAnh2').addClass('d-none');
            $('#img2').removeClass('d-none');
        })
        $('#xoaAnh3').click(function () {
            $('#anh3').attr('src', '');
            $('#xoaAnh3').addClass('d-none');
            $('#img3').removeClass('d-none');
        })
        $('#xoaAnh4').click(function () {
            $('#anh4').attr('src', '');
            $('#xoaAnh4').addClass('d-none');
            $('#img4').removeClass('d-none');
        })
        $('#xoaAnh5').click(function () {
            $('#anh5').attr('src', '');
            $('#xoaAnh5').addClass('d-none');
            $('#img5').removeClass('d-none');
        })
        $('#xoaAnh6').click(function () {
            $('#anh6').attr('src', '');
            $('#xoaAnh6').addClass('d-none');
            $('#img6').removeClass('d-none');
        })
    </script>
}

